
@model  Scheduling.Models.ViewModels.CombineScheduleVM




<script type="text/javascript">

    var semesterNumber;

    $(function () {




            //$(".parent_tr").next().children().find(':nth-child(2)').addClass(".boder");


        //document.getElementById("wrap").addEventListener("scroll", function () {
        //    var translate = "translate(0," + this.scrollTop + "px)";
        //    this.querySelector("thead").style.transform = translate;
        //});


        $("body").on('change', '.sem_dropDown', function () {

            semesterNumber = parseInt($('.sem_dropDown option:selected').val());

            console.log(isNaN(semesterNumber));
            if (isNaN(semesterNumber))
            {
                semesterNumber = 0;
            }
            console.log(semesterNumber);

            var jsonData = $.ajax({

                url: '@Url.Action("PmSemDropDown", "JSON")',
                data: {
                    semesterNumber
                },
                type: "POST",
                beforeSend: function () {
                    $('#loading').show();
                    $('.partial_container').hide();

                },
                complete: function () {
                    $('#loading').hide();
                },
                success: function (result) {
                    $('.partial_container').html(result);
                    $('.partial_container').show();

                },
                error: function (data, errorThrown) {
                    alert("Network Error!");
                }


            });

        });






    });





</script>

@{int nxt_section = 0; }


    <div class="wrapper" style="margin-left: 132px">

    <table>

        <tr>
            <th class="fixed td-color" style="left: 2px; right:50px; vertical-align:middle; width:115px; border-right: 1px solid black;">Days</th>
            <th class="fixed td-color" style="left: 115px; width:115px;  border-right: 2px solid black;">Time Slots</th>

            @foreach (var sections in Model.sections)
            {
                //data-slot="@days.dayid-@slots.slottypeid-@rooms.roomid"
                //if (nxt_section < Model.sections.ToList().Last().secid)
                //{
                //    nxt_section = sections.secid + 1;
                //}
                //else
                //{
                //    nxt_section = sections.secid;


                //}
                //Model.sections.Where(s => s.secid == nxt_section).Single().sectionname

                //if (sections.Class.Class1 == "2" && sec_name == "4" || (sections.Class.Class1 == "4" && sec_name == "6") || (sections.Class.Class1 == "6" && sec_name == "8"))


                var sec_name = "";

                if ((sections.Class.Class1 == "2" && sec_name == "4") || (sections.Class.Class1 == "4" && sec_name == "6") || (sections.Class.Class1 == "6" && sec_name == "8"))
                {
                    <th class="td-color" style="border-right: 2.5px solid black;">@sections.Program.Program1 @sections.Class.Class1 @sections.sectionname</th>

                }
                else
                {
                    <th class="td-color">@sections.Program.Program1 @sections.Class.Class1 @sections.sectionname</th>

                }

            }




        </tr>
        @{int nxt_section2 = 0; int a = 1; int x = 1; }
        @foreach (var days in Model.days)
            {
                foreach (var slottypes in Model.vslottypes)
                {
                <tr class="date" date="@ViewBag.dates[x - 1].Date.ToString("MM/dd/yyyy")">

                    @if (Model.vslottypes.ElementAt(0) == slottypes)
                    {
                        <th class="fixed td-color" style="left: 2px; height:13.7%; width:115px; border-right: 2px solid black;" rowspan="@Model.vslottypes.Count()">
                            <span class="rotate">@ViewBag.dates[a - 1].Date.ToString("dd/MMM") @days.dayname</span>
                        </th>
                        a++;
                    }
                    @*else
                        {
                            <th class="fixed" style="left: 1px; height:154.5px; width:115px; border-right: 2px solid black; background-color:darkgray;"></th>
                        }*@
                    @*<th class="fixed" style="left: 0px; right:50px;  height:154.5px; width:115px; vertical-align:middle; border-right: 1px solid black; background-color:darkgray ">@days.dayname</th>*@
                    <th class="fixed td-color" style="left: 115px; height:156px; width:115px; border-right: 2px solid black;">@slottypes.duration</th>


                    @foreach (var sections in Model.sections)
                    {
                        var IsSchedule = Model.vschedule.Where(d => d.dayid == days.dayid && d.slottypeid == slottypes.slottypeid && d.secid == sections.secid).ToList();

                        //if (nxt_section2 < Model.sections.ToList().Last().secid)
                        //{
                        //    nxt_section2 = sections.secid + 1;
                        //}
                        //else
                        //{
                        //    nxt_section2 = sections.secid;


                        //}
                        var sec_name = "2";


                        if (IsSchedule.Count > 0)
                        {
                            if (IsSchedule.Count == 1)
                            {



                                foreach (var sch in IsSchedule)
                                {
                                    if (sch.occupied == 1)
                                    {
                                        if ((sections.Class.Class1 == "2" && sec_name == "4") || (sections.Class.Class1 == "4" && sec_name == "6") || (sections.Class.Class1 == "6" && sec_name == "8"))
                                        {
                                            <td class="empty" data-slot="@days.dayid-@slottypes.slottypeid-@sections.secid" style="height:154.5px; font-size:11px; border-right: 3px solid black; vertical-align:top"> <h6 class="course-name" data-toggle="popover" data-placement="bottom" data-content="@sch.title" title="Course Name"> @sch.title</h6> @IsSchedule[0].teachername<br>@sch.roomno- @IsSchedule[0].campus<br>(@IsSchedule[0].duration)<hr></td>

                                        }
                                        else
                                        {
                                            <td class="empty" data-slot="@days.dayid-@slottypes.slottypeid-@sections.secid" style="height:154.5px; font-size:11px; vertical-align:top"><h6 class="course-name" data-toggle="popover" data-placement="bottom" data-content="@sch.title" title="Course Name"> @sch.title</h6> @IsSchedule[0].teachername<br>@sch.roomno- @IsSchedule[0].campus<br>(@IsSchedule[0].duration)<hr></td>

                                        }


                                    }
                                    if (sch.occupied == 2)
                                    {
                                        if ((sections.Class.Class1 == "2" && sec_name == "4") || (sections.Class.Class1 == "4" && sec_name == "6") || (sections.Class.Class1 == "6" && sec_name == "8"))
                                        {
                                            <td class="empty" data-slot="@days.dayid-@slottypes.slottypeid-@sections.secid" style="height:154.5px; font-size:11px; border-right:  3px solid black; vertical-align:bottom "><hr><h6 class="course-name" data-toggle="popover" data-placement="bottom" data-content="@sch.title" title="Course Name"> @sch.title</h6> @IsSchedule[0].teachername<br>@sch.roomno- @IsSchedule[0].campus<br>(@IsSchedule[0].duration)</td>

                                        }
                                        else
                                        {
                                            <td class="empty" data-slot="@days.dayid-@slottypes.slottypeid-@sections.secid" style="height:154.5px; font-size:11px; vertical-align:bottom"> <hr><h6 class="course-name" data-toggle="popover" data-placement="bottom" data-content="@sch.title" title="Course Name"> @sch.title</h6> @IsSchedule[0].teachername<br>@sch.roomno- @IsSchedule[0].campus<br>(@IsSchedule[0].duration)</td>

                                        }
                                    }
                                    if (sch.occupied == 3)
                                    {
                                        if ((sections.Class.Class1 == "2" && sec_name == "4") || (sections.Class.Class1 == "4" && sec_name == "6") || (sections.Class.Class1 == "6" && sec_name == "8"))
                                        {
                                            <td style="height:154.5px; font-size:11px; border-right: 3px solid black;"><h6 class="" data-toggle="popover" data-placement="bottom" data-content="@sch.title" title="Course Name"> @sch.title</h6> @IsSchedule[0].teachername<br>@sch.roomno- @IsSchedule[0].campus</td>

                                        }
                                        else
                                        {
                                            <td style="height:154.5px; font-size:11px;"><h6 class="" data-toggle="popover" data-placement="bottom" data-content="@sch.title" title="Course Name"> @sch.title</h6> @IsSchedule[0].teachername<br>@sch.roomno- @IsSchedule[0].campus</td>

                                        }

                                    }




                                }

                            }
                            if (IsSchedule.Count > 1 && IsSchedule.Count < 3 && IsSchedule[0].occupied != IsSchedule[1].occupied)

                            {
                                if ((sections.Class.Class1 == "2" && sec_name == "4") || (sections.Class.Class1 == "4" && sec_name == "6") || (sections.Class.Class1 == "6" && sec_name == "8"))
                                {
                                    <td style="height:154.5px; font-size:10.5px; border-right: 3px solid black; padding:0 ">

                                        <h6 class="course-name" data-toggle="popover" data-placement="bottom" data-content="@IsSchedule[0].title" title="Course Name">@IsSchedule[0].title</h6>@IsSchedule[0].teachername<br>@IsSchedule[0].roomno- @IsSchedule[0].campus -(@IsSchedule[0].duration)
                                        <hr><h6 class="course-name" data-toggle="popover" data-placement="bottom" data-content="@IsSchedule[0].title" title="Course Name">@IsSchedule[0].title</h6>@IsSchedule[1].teachername<br> @IsSchedule[1].roomno- @IsSchedule[1].campus- (@IsSchedule[1].duration)
                                    </td>
                                }
                                else
                                {
                                    <td class="rest_of_tds" style="height:154.5px; font-size:10.5px; padding:0 ">

                                        <h6 class="course-name" data-toggle="popover" data-placement="bottom" data-content="@IsSchedule[0].title" title="Course Name">@IsSchedule[0].title</h6>@IsSchedule[0].teachername<br>@IsSchedule[0].roomno- @IsSchedule[0].campus -(@IsSchedule[0].duration)
                                        <hr> <h6 class="course-name" data-toggle="popover" data-placement="bottom" data-content="@IsSchedule[0].title" title="Course Name">@IsSchedule[0].title</h6>@IsSchedule[1].teachername<br> @IsSchedule[1].roomno- @IsSchedule[1].campus- (@IsSchedule[1].duration)
                                    </td>
                                }






                            }

                            @*if (sections.sectionname.Contains("2") && sec_name.Contains("4") || (sections.sectionname.Contains("4") && sec_name.Contains("6")) || (sections.sectionname.Contains("6") && sec_name.Contains("8")))
                                {
                                    <td class="rest_of_tds" style="height:154.5px; font-size:11px;border-right: 3px solid black;"> @IsSchedule[0].title<br> @IsSchedule[0].teachername<br>@IsSchedule[0].roomno- @IsSchedule[0].campus<br>(@IsSchedule[0].duration)</td>

                                }
                                else
                                {
                                    <td class="rest_of_tds" style="height:154.5px;"> @IsSchedule[0].title<br> @IsSchedule[0].teachername<br>@IsSchedule[0].roomno- @IsSchedule[0].campus<br>(@IsSchedule[0].duration)</td>

                                }*@

                        }
                        else if ((sections.Class.Class1 == "2" && sec_name == "4") || (sections.Class.Class1 == "4" && sec_name == "6") || (sections.Class.Class1 == "6" && sec_name == "8"))
                        {


                            <td class="empty empty-color" data-slot="@days.dayid-@slottypes.slottypeid-@sections.secid" style="height:154.5px; font-size:11px;border-right: 3px solid black;"></td>

                        }
                        else
                        {
                            <td class="empty empty-color" data-slot="@days.dayid-@slottypes.slottypeid-@sections.secid" style="height: 150px;"></td>

                        }

                    }

                </tr>
            }
            x++;
        }

    </table>

</div>











