
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/globalize.js"></script>
    @*<script src="http://jqueryui.com/resources/demos/external/globalize/globalize.js"></script>*@
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>




    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery-ui")
    @Styles.Render("~/Content/themes/base/css")

    @*<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/css/bootstrap-dialog.min.css" rel="stylesheet" type="text/css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/js/bootstrap-dialog.min.js"></script>*@



    @*<script src="~/Scripts/globalize.js"></script>*@


    @*@Scripts.Render("~/Scripts/jquery.scrollTo.js")*@
    @*<script src="~/Scripts/jquery.nanoscroller.min.js"></script>
        <script src="~/Scripts/jquery.scrollTo.min.js"></script>
        <link href="~/Content/nanoscroller.css" rel="stylesheet" />*@

</head>
@*data-spy="scroll" data-target=".bs-docs-sidebar" data-offset="120"*@




<body style="background-color: #263238;">
    @*<div class="container body-content" style="padding-top:20px;">*@

  



    @RenderBody()


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery-ui")

    @Styles.Render("~/Content/themes/base/css")
    @RenderSection("scripts", required: false)
</body>
</html>
